:root {
  --color-primary: #FFB433;
  --color-background: #FBF8EF;
  --color-accent: #B4EBE6;
  --color-secondary: #80CBC4;
}

#root {
  max-width: 100%;
  margin: 0 auto;
}

main {
  padding: 2rem 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

.inventoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
